.cont{
    padding-top: 30px;

    .content{
        display: flex;
        background-color: #fff;
        padding: 30px 5vw 0px 5vw;

        .main{
            width: 50%;
            margin-left: 25px;
            padding-bottom: 50px;

            .header{

                .headerText1{
                    font-size: 32px;
                    font-weight: 500;
                    padding-bottom: 15px;
                    border-bottom: 1px solid #eee;
                }

                .headerText2{
                    color: #555;
                    font-size: 14px;
                    margin-top: 15px;
                    line-height: 150%;
                }

                img{
                    width: calc(100% - 40px);
                    margin-top: 50px;
                    margin-left: 5px;
                    margin-right: 20px;
                }
            }

            .categories{

                .categoriesH{
                    font-size: 18px;
                    margin-top: 20px;
                    color: #333;
                    font-weight: 500;
                    line-height: 150%;
                }

                .flexBox{
                    display: flex;
                    margin-top: 15px;
                    padding-bottom: 55px;

                    ul{
                        list-style: none;

                        li{
                            display: flex;
                            margin-top: 10px;
                            align-items: center;

                            .iconn{
                                width: 4px;
                                height: 4px;
                                border-radius: 50%;
                                background-color: #555;
                            }

                            span{
                                color: #555;
                                font-size: 14px;
                                font-weight: 500;
                                margin-left: 10px;
                                line-height: 150%;
                            }
                        }
                    }

                    .col1{
                        margin-left: 20px;
                    }

                    .col2{
                        margin-left: 40px;
                    }
                }
            }

            .listTest{
                padding-bottom: 30px;
                border-bottom: 1px solid #eee;

                .headerText{
                    font-size: 18px;
                    color: #333;
                    font-weight: 500;
                    line-height: 150%;
                }

                ul{
                    margin-top: 5px;
                    list-style: none;

                    li{
                        display: flex;
                        margin-top: 20px;
                        margin-left: 20px;
                        align-items: center;

                        .icon{
                            width: 4px;
                            height: 4px;
                            border-radius: 50%;
                            background-color: #555;
                        }

                        span{
                            color: #555;
                            width: 97%;
                            font-size: 14px;
                            line-height: 150%;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .cont {

        .content{

            .main{
                width: 66vw;
            }
        }
    }
}

@media (max-width: 767px) {
    .cont {

        .content{
            flex-direction: column;

            .main{
                width: 100%;
                margin-left: 0;
                padding-top: 2em;

                .categories{

                    .flexBox{
                        flex-direction: column;

                        .col2{
                            margin-left: 20px;
                        }
                    }
                }

                .listTest{

                    ul{

                        li{

                            span{
                                margin-left: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}