.cont{
    padding-top: 30px;

    .content{
        display: flex;
        background-color: #fff;
        padding: 30px 5vw 50px 5vw;

        .main{
            width: 600px;
            margin-left: 25px;

            .title{
                color: #000;
                font-size: 36px;
                line-height: 130%;
                padding-bottom: 15px;
                border-bottom: #EEE thin solid;
            }

            p{
                text-align: justify;
            }
        }
    }
}

@media (max-width: 991px) {
    .cont {

        .content{

            .main{
                width: 66vw;
            }
        }
    }
}

@media (max-width: 767px) {
    .cont {

        .content{
            flex-direction: column;

            .main{
                width: 100%;
                margin-left: 0;
                max-width: none;
                padding-top: 2em;
            }
        }
    }
}