.navigation{
    color: #fff;
    background-color: #FF9000;

    .menuBox{
        display: none;
    }

    .box{
        display: flex;
        padding: 0px 120px;
        background-color: #FF9000;

        .item{
            color: #fff;
            font-size: 1.5em;
            padding: 20px 30px;
            text-decoration: none;
            
            &:hover{
                cursor: pointer;
                background-color: #F05927;
            }
        }
    }
}

@media (max-width: 990px) {
    .navigation{

        .box{


            .item{
                font-size: 14px;
                padding: 15px;
            }
        }
    }
}

@media (max-width: 767px) {
    .navigation{
        padding: 15px 25px;

        .menuBox{
            float: right;
            cursor: pointer;
            display: block;

            .menuItem1{
                width: 20px;
                height: 2px;
                background-color: #fff;
            }

            .menuItem2{
                width: 20px;
                height: 2px;
                margin-top: 4px;
                background-color: #fff;
            }

            .menuItem3{
                width: 20px;
                height: 2px;
                margin-top: 4px;
                background-color: #fff;
            }
        }

        .clearBoth{
            clear: both;
            position: relative;
        }

        .box{
            padding: 0px;
            position: absolute;
            bottom: -10px;
            left: 0;
            right: 0;
            z-index: 10;
            flex-direction: column;
        }

        .displayNone {
            display: none !important;
        }
    }
}