.cont{
    padding-top: 30px;

    .content{
        padding: 30px 65px 0px 65px;
        display: flex;
        background-color: #fff;

        .main{
            width: 50%;
            margin-left: 25px;
            margin-right: 30px;
            padding-bottom: 50px;

            p{
                text-align: justify;
            }
        }
    }
}