.header{
    display: flex;
    padding: 0px 105px;
    margin-bottom: 40px;
    justify-content: space-between;

    .left{
        cursor: pointer;
    }

    .right{

        .row1{
            display: flex;
            width: max-content;
            float: right;
            margin-bottom: 20px;
            align-items: center;

            .icon{
                width: 20px;
                height: 18px;
                color: #888;
            }

            p{
                margin: 0;
                color: #2298B6;
                margin-left: 10px;
            }

            &:hover{
                cursor: pointer;

                p{
                    text-decoration: underline;
                }
            }
        }

        .row2{
            clear: both;
            display: flex;
            align-items: center;

            .col1{

                .iconFb{
                    width: 35px;
                    height: 35px;
                    color: #446DAB;
                }

                .iconTw{
                    width: 35px;
                    height: 35px;
                    margin-left: 10px;
                    color: #0597CB;
                }

                .iconYt{
                    width: 35px;
                    height: 35px;
                    margin-left: 10px;
                    color: #E22014;
                }

                .iconGp{
                    width: 35px;
                    height: 35px;
                    margin-left: 10px;
                    color: #343434;
                }
            }

            .col2{
                display: flex;
                margin-left: 25px;
                align-items: center;

                .coll1{
                    padding: 5px 15px;
                    background-color: #CEEBF0;
                    border-top-left-radius: 15px;
                    border-bottom-left-radius: 15px;

                    .icon{
                        width: 25px;
                        height: 30px;
                        color: #2299B7;
                    }
                }

                .coll2{
                    color: #fff;
                    padding: 10px;
                    display: flex;
                    font-size: 1.2em;
                    font-weight: 400;
                    padding-top: 8px;
                    padding-right: 30px;
                    align-items: center;
                    background-color: #2299B7;
                    border-top-right-radius: 25px;
                    border-bottom-right-radius: 25px;
                }

                &:hover{
                    cursor: pointer;
                    
                    .coll2{
                        background-color: #086f89;
                    }
                }
            }
        }
    }
}

@media (max-width: 990px) {
    .header{
        padding: 0px 6vw;
        margin-bottom: 25px;
        align-items: flex-end;

        .left{
            width: 155px;
        }

        .right{

            .row2{
                align-items: flex-end;

                .col1{

                    .iconFb{
                        width: 25px;
                        height: 25px;
                    }
    
                    .iconTw{
                        width: 25px;
                        height: 25px;
                        margin-left: 8px;
                    }
    
                    .iconYt{
                        width: 25px;
                        height: 25px;
                        margin-left: 8px;
                    }
    
                    .iconGp{
                        width: 25px;
                        height: 25px;
                        margin-left: 8px;
                    }
                }

                .col2{
                    margin-left: 10px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .header{
        padding: 0px 15px;
        flex-direction: column;
        align-items: flex-start;

        .left{
            max-width: 100%;
            width: max-content;
        }

        .right{
            padding: 0px;
            display: flex;
            align-self: center;
            align-items: center;
            flex-direction: column;

            .row2{
                margin-top: -10px;
                flex-direction: column-reverse;

                .col1{
                    margin-top: 10px;
                    align-self: center;

                    .iconFb{
                        width: 35px;
                        height: 35px;
                    }
    
                    .iconTw{
                        width: 35px;
                        height: 35px;
                        margin-left: 10px;
                    }
    
                    .iconYt{
                        width: 35px;
                        height: 35px;
                        margin-left: 10px;
                    }
    
                    .iconGp{
                        width: 35px;
                        height: 35px;
                        margin-left: 10px;
                    }
                }

                .col2{
                    margin-left: 0px;
                }
            }
        }
    }
}